*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --light-mode:#ffffff;
    --dark-mode:#000000;
}


body{
    font-family: 'Poppins', sans-serif;
    color: var(--light-mode);
    background-position:center ;
    background-position-y: -200px;
    background-repeat: no-repeat;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 575px;
    left: 94px;
    top: 105px;
    border-radius: 48px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); 
    backdrop-filter: blur(32px);
    transition: 0.3s;
    /*opacity: 0.2;*/
    backdrop-filter: blur(32px);
    border-radius: 48px;
    z-index: 0 ;
}

.card-content{
    z-index: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.card-update{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    padding: 0px 15px;
    backdrop-filter: blur(32px);
    transition: 0.3s;
    border: 1px solid white;
    border-radius: 50px;
    border-radius: 48px;
    z-index: 0 ;
}



.temperatura{
    font-size: 7rem;
    font-weight: 300;

}

.grados{
    font-size: 1.3rem;
    font-weight: 200;
}


.contenedor-temperatura{
    display: flex;
    margin-left: 5%;
    height: 130px;
    
}

.contenedor-temperatura .grados{
    padding-top: 21%;   
}

.icono-temperatura{
    width: 75%;
    
}

.condicion{
    font-weight: 200;
    font-size: 1.4rem;
}

.ciudad{
    font-weight: bold;
    font-size: 1.6rem;
}

.fecha{
    font-weight: 200;
    font-size: 1.4rem;
}

.humedad{
    font-weight: bold;
    font-size: 1.4rem;
}

.velocidadviento{
    font-weight: bold;
    font-size: 1.4rem;
}

.dot{
    width: 10px;
    height: 10px;
    background-color: #39ff14;
    margin: 0 1px;
    border-radius: 50%;
    display: flex;
}

.Actualizacion{
    width: 10px;
    height: 10px;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

    /*RESOLUCION JONNHY 1920x1080*/
    /*RESOLUCION FER 1366x768*/

@media (max-width: 1366px) {
    .card-container{
        height: 80vh;
    }
  }
  