*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

:root{
    --light-mode:#ffffff;
    --dark-mode:#000000;
}


body{
    margin: 0;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--light-mode);
    background-position:center ;
    background-position-y: -200px;
    background-repeat: no-repeat;

    
}






/* ===========================> STYLES NAV */

.nav{
    position: absolute;
    left: 6.2%;
    right: 6.25%;
    top: 2.53%;
    bottom: 90.66%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #ffffff42;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(32px);
    border-radius: 52px;
}

.li-ITNL {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lbl-ITNL {
    font-weight: 600;
    font-size: 18px;
}

.nav__ul-left-elements{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    color: white;
    opacity: 100%;
}
.nav__ul-right-elements{
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-right: 2%;
    list-style: none;
    align-items: center;
}

/* ===========================> STYLES NAV */

/* ===========================> STYLES CARD */
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 575px;
    left: 94px;
    top: 105px;
    border-radius: 48px;
    /*box-shadow: 0px 4px 4px rgba(0, 0, 0, .1);*/
    backdrop-filter: blur(32px);
    transition: 0.3s;
    z-index: 0;
}

.card-animacion{
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.card-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -80px;
}

.container-img {
    position: relative;
    top: -50px;
}

.card-update{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px 15px;
    backdrop-filter: blur(32px);
    transition: 0.3s;
    border: 1px solid white;
    border-radius: 50px;
    border-radius: 48px;
    z-index: 0 ;
}

.temperatura{
    font-size: 144px;
    font-weight: 300;
    margin: 0;
}

.grados{
    font-size: 1.3rem;
    font-weight: 200;
    margin: 0;
}


.contenedor-temperatura{
    display: flex;
    margin: 0;
}

.contenedor-temperatura .grados{
    padding-top: 21%;   
}

.icono-temperatura{
    width: 310px;
    height: 204px;
    margin: 0;
}

.informacion-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -40px;
}

.condicion{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    margin: 0;
}

.ciudad{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin: 0;
}

.fecha{
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
}

.fecha__Show {
    margin: 0;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -20px;
}

.humedad{
    font-weight: bold;
    font-size: 1.4rem;
}

.velocidadviento{
    font-weight: bold;
    font-size: 1.4rem;
}

.dot{
    width: 10px;
    height: 10px;
    background-color: #39ff14;
    margin: 0 1px;
    border-radius: 50%;
    display: flex;
}

.actualizacion{
    display: flex;
    margin: 0;
}

#ColorMode:hover{
    cursor: pointer;
}
#CambiarGrados:hover{
    cursor: pointer;
}

.ColorModeON{
    background-color: #494957;
}

/* ===========================> STYLES CARD */

/* ===========================> STYLES DASHBOARD */

.Container-DashboardTotal {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Dashboard__Container-Main {
   height: 100vh;
   display: grid;
   grid-template-columns: 347px repeat(4, 198px) 347px;
   grid-template-rows: repeat(5, 200px);
   grid-column-gap: 20px;
   grid-row-gap: 20px;
}
        
.Dashboard-Container-Big {
    width: 100%;
    background-color: white;
    box-shadow: 4px 25px 50px 1px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    grid-row: 1/3;
    grid-column: 2/6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Dashboard-Container-Medium {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 25px;
    box-shadow: 4px 25px 50px 1px rgba(0, 0, 0, 0.25);
    background-color: white;
}


.Dashboard-Container-Small {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: white;
    box-shadow: 4px 25px 50px 1px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

.Dashboard-Container-Rain {
    width: 100%;
    height: 200px;
    background-color: white;
    box-shadow: 4px 25px 50px 1px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-rain-flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 180px;
}

.flex-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.subcontainer-chart {
    width: 85%;
}


/* ========================> POSITION CARDS */

#temp-outContainer {
    grid-row: 1;
    grid-column: 1;
}

#hum-outContainer {
    grid-row: 1;
    grid-column: 6;
}

#tem-inContainer {
    grid-row: 2;
    grid-column: 1;
}

#hum-inContainer {
    grid-row: 2;
    grid-column: 6;
}

#vel-windContainer {
    grid-row: 3;
    grid-column: 1;
}

#rad-solarContainer {
    grid-row: 3;
    grid-column: 6;
}

#dir-windContainer {
    grid-row: 3;
    grid-column: 2;
}

#chill-windContainer {
    grid-row: 3;
    grid-column: 3;
}

#index-heatContainer {
    grid-row: 3;
    grid-column: 4;
}

#index-uvContainer {
    grid-row: 3;
    grid-column: 5;
}

#rain-actualContainer {
    grid-row: 4;
    grid-column: 1/3;
}

#rain-yearContainer {
    grid-row: 4;
    grid-column: 5/7;
}

#point-bumbContainer {
    grid-row: 4;
    grid-column: 3;
}

#clockContainer {
    grid-row: 4;
    grid-column: 4;
}


/* ========================> POSITION CARDS */

.Titulo-Dashboard {
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #535353;
}

.Data-Content-Dashboard {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    margin: 0;
    color: #535353;
}

.img-Dashboard {
    height: 100px;
    padding: 5px;
}

#Wind-Img {
    height: 100px;
}

#Clock-Img {
    height: 120px;
}

.Dashboard-Container-Rain {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#lluviaTitulo {
    margin-top: 12px;
    margin-bottom: 12px;
}

.rain-img {
    height: 90px;
}

.RainDay-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.darkMode{
    background-color: #474759;
    
}

.darkModeText{
    color: white;
}

/* ===========================> STYLES DASHBOARD */


#Splash{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../Resource/Background-splash.svg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: 2  ;
    justify-content: center;
    align-items: center;
}

.logo{
    margin-left: 280px;
    width: 380px;
}

.logoTitle{
    margin-left: 170px;
    font-size: 3.5em;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}


#Splash.fade{
    opacity: 0;
    z-index: 1;
    
}
#Splash.fade.fadeDiv{
    transition: all 1s ease;
    transform: translateX(-100%);
}

.disableScroll {
    height: 100%;
    /* overflow: visible; */
    overflow: hidden;
}

.enableScroll{
    height: 100%;
    overflow: visible;
    z-index: 3;
}

/* ======================> MEDIA QUERYS */

@media (max-width: 1366px) {

    .Dashboard__Container-Main {
        grid-template-columns: 270px repeat(4, 170px) 270px;
        grid-template-rows: repeat(5, 200px);
        grid-column-gap: 15px;
        grid-row-gap: 15px; 
    }

    .card-container {
        margin-top: 250px;
    }

}

@media (max-width: 1365px) and (min-width: 1024px){

    .Container-DashboardTotal{
        margin-top: 50px;
    }
    .Dashboard__Container-Main {
        grid-template-columns: repeat(6, 175px);
        grid-template-rows: repeat(6, 200px);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .container-rain-flex {
        gap: 40px;
    }

    .card-container {
        width: 400px;
        height: 550px;
        margin-top: 120px;
    }

    .container-img {
        width: 250px;
    }

    .icono-temperatura {
        width: 250px;
    }

}

@media (max-width: 810px) {

    .Dashboard__Container-Main {
        grid-template-columns: repeat(4, 175px);
        grid-template-rows: repeat(6, 200px);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .Dashboard-Container-Big {
        grid-row: 1/3;
        grid-column: 1/5;
    }

    #temp-outContainer {
        grid-row: 3;
        grid-column: 1;
    }
    
    #hum-outContainer {
        grid-row: 3;
        grid-column: 2;
    }
    
    #tem-inContainer {
        grid-row: 3;
        grid-column: 3;
    }
    
    #hum-inContainer {
        grid-row: 3;
        grid-column: 4;
    }
    
    #vel-windContainer {
        grid-row: 4;
        grid-column: 1;
    }
    
    #rad-solarContainer {
        grid-row: 4;
        grid-column: 2;
    }
    
    #dir-windContainer {
        grid-row: 4;
        grid-column: 3;
    }
    
    #chill-windContainer {
        grid-row: 4;
        grid-column: 4;
    }
    
    #index-heatContainer {
        grid-row: 5;
        grid-column: 1;
    }
    
    #index-uvContainer {
        grid-row: 5;
        grid-column: 2;
    }
    
    #point-bumbContainer {
        grid-row: 5;
        grid-column: 3;
    }
    
    #clockContainer {
        grid-row: 5;
        grid-column: 4;
    }

    #rain-actualContainer {
        grid-row: 6;
        grid-column: 1/3;
    }
    
    #rain-yearContainer {
        grid-row: 6;
        grid-column: 3/5;
    }

    .container-rain-flex {
        gap: 80px;
    }
}

@media (max-width: 412px) {

    /* ==============> NAV STYLES */

    .nav__ul-left-elements {
        padding-left: 15px;
    }

    /* ==============> NAV STYLES */

    .card-container {
        width: 340px;
        margin-top: 50px;
    }

    .container-img {
        width: 230px;
    }

    .icono-temperatura {
        width: 230px;
    }

    /* ==============> DASHBOARD POSITIONS */
    
    .Dashboard__Container-Main {
        grid-template-columns: repeat(2, 160px);
        grid-template-rows: repeat(8, 200px); 
    }

    .Dashboard-Container-Big {
        grid-row: 1;
        grid-column: 1/3;
    }

    #temp-outContainer {
        grid-row: 2;
        grid-column: 1;
    }
    
    #hum-outContainer {
        grid-row: 2;
        grid-column: 2;
    }
    
    #tem-inContainer {
        grid-row: 3;
        grid-column: 1;
    }
    
    #hum-inContainer {
        grid-row: 3;
        grid-column: 2;
    }
    
    #vel-windContainer {
        grid-row: 4;
        grid-column: 1;
    }
    
    #rad-solarContainer {
        grid-row: 4;
        grid-column: 2;
    }
    
    #dir-windContainer {
        grid-row: 5;
        grid-column: 1;
    }
    
    #chill-windContainer {
        grid-row: 5;
        grid-column: 2;
    }
    
    #index-heatContainer {
        grid-row: 6;
        grid-column: 1;
    }
    
    #index-uvContainer {
        grid-row: 6;
        grid-column: 2;
    }
    
    #point-bumbContainer {
        grid-row: 7;
        grid-column: 1;
    }
    
    #clockContainer {
        grid-row: 7;
        grid-column: 2;
    }

    #rain-actualContainer {
        grid-row: 8;
        grid-column: 1/3;
    }
    
    #rain-yearContainer {
        grid-row: 9;
        grid-column: 1/3;
    }

    /* ==============> DASHBOARD POSITIONS */
}

/* ======================> MEDIA QUERYS */